// @name        Breadcrumb
// @description ...
//
// @state       -slash-delimiter - Breadcrumbs with slash delimiter
//
//
// @markup
//  <div class='mui-breadcrumb'>
//      <a class='link' href=''>category</a>
//      <a class='link' href=''>subcategory</a>
//      <a class='link' href=''>title</a>
//  </div>


.@{muilessium-prefix}breadcrumb {
    height: @default-ui-height;    
    padding: 0 1rem;
    line-height: @default-ui-height;
    background: @breadcrumb-background;
    border-radius: @default-border-radius;
    
    > .link {
        text-decoration: none;
        color: @breadcrumb-color;
        
        &:not(:last-of-type)::after {
            content: '\0203A';
            padding: 0 .5rem;
            color: @breadcrumb-color;
        }

        &:hover,
        &:focus {
            color: @breadcrumb-color-focused;
        }
    }
    
    &.-slash-delimiter {
        > .link:not(:last-of-type)::after {
            content: '/';
        }
    }
}

