// @name        Checkbox
// @description ...
//
// @component   Checkbox
// @method      setCheckbox()    - sets checkbox checked
// @method      unsetCheckbox()  - sets checkbox unchecked
// @method      toggleCheckbox() - sets checkbox checked if it is unchecked and sets it unchecked otherwise
// @method      getState()       - returns true if checkbox is checked and false otherwise
//
// @depends svg-icon
//
//
// @markup
//  <div class='mui-checkbox' id='docs-only-id--checkbox'>
//      <input type='checkbox' checked>
//      <label>
//          <span class='icon'>
//              <span class='symbol'>
//                  <svg class='mui-svg-icon'><use xlink:href="#mui-svg-icon--check"></use></svg>
//              </span>
//          </span>
//          <span class='text'>Lorem ipsum.</span>
//      </label>
//  </div>


.@{muilessium-prefix}checkbox {
    user-select: none;
    
    > input[type=checkbox] {
        display: none;
    }
    
    > label {
        display: inline-block;
        
        &:hover,
        &:focus {
            cursor: pointer;
            outline: none;
            
            > .icon {
                border-color: @checkbox-border-color-focused;
            }
        }
    }
    
    > label > .icon {
        display: inline-block;
        position: relative;
        vertical-align: middle; 
        height: @default-ui-height;
        width: @default-ui-height;
        border: 1px solid @checkbox-border-color;
        border-radius: @default-border-radius;
        transition: border-color @default-animation-duration @default-animation-function;
        
        > .symbol {
            display: inline-block;
            height: @default-ui-height;
            width: @default-ui-height;
            text-align: center;
            line-height: @default-ui-height;
            font-size: @default-ui-height * .8;
            color: @checkbox-icon-color;
            opacity: 0;
            transition: all @default-animation-duration @default-animation-function;
        }

        > .symbol > .mui-svg-icon {
            fill: @checkbox-icon-color;
        }
    }
    
    &.-checked > label > .icon {
        > .symbol {
            opacity: 1;
        }
    }
    
    > label > .text {
        padding: 0 1rem;
    }
}

