// @name        Post
// @description Components which should be used together for the posts on page.
//
// @depends     button
// @depends     tags-list
//
//
// @markup
//  <article class='mui-post'>
//      <header class='mui-post-header'>
//          <div class='title'>
//              <a class='link -f-blue-4' href=''><h4>Lorem ipsum dolor</h4></a>
//          </div>
//          <div class='information -grey-4'>
//              <span>Published on</span>
//              <span class='date'>September 29, 2018</span>
//          </div>
//      </header>
//      <div class='mui-post-content'>
//          <p class='mui-p'>...<br><br></p>
//          <a href='' class='mui-button -ghost -f-blue-3-bg'>
//              <span>read more</span>
//              <svg class='mui-svg-icon -black'><use xlink:href='#svg-icon--arrow-right'></use></svg>
//          </a>
//      </div>
//      <footer class='mui-post-footer'>
//          <div class='mui-tags-list' aria-label='Tags list'>
//              <div class='mui-tag-wrapper -icon' role='presentation'>
//                  <svg class='mui-svg-icon'><use xlink:href='#svg-icon--tags'></use></svg>
//              </div>
//              <div class='mui-tag-wrapper'><a href='' class='mui-tag -f-blue-4'>html</a></div>
//              <div class='mui-tag-wrapper'><a href='' class='mui-tag -f-blue-4'>css</a></div>
//              <div class='mui-tag-wrapper'><a href='' class='mui-tag -f-blue-4'>javascript</a></div>
//              <div class='mui-tag-wrapper'><a href='' class='mui-tag -f-blue-4'>gulp</a></div>
//              <div class='mui-tag-wrapper'><a href='' class='mui-tag -f-blue-4'>webpack</a></div>
//          </div>
//      </footer>
//   </article>


.@{muilessium-prefix}post {
    position: relative;    
    padding: 2rem 2rem 1rem;
}


.@{muilessium-prefix}post-header {
    margin: 0;

    > .title {

    }
    
    > .title > .link {
        text-decoration: none;
    }
    
    > .information {
        ._smaller-1;
    }
    
    > .information .link {
        text-decoration: none;
    }
}



.@{muilessium-prefix}post-content {
    margin: 2rem 0;
}



.@{muilessium-prefix}post-footer {
    #utils > .clearfix;

    border-top: 1px solid @grey-3;
    padding: 1rem 0;
}

