// @name        Radio
// @description ...
//
// @component   Radio
// @method      updateState(index) - makes input with selected index selected
// @method      getState()         - returns index of the checked input
//
// @depends     input
//
//
// @markup
//  <div class='mui-input-wrapper'>
//      <div class='mui-input-label'>Left or right?</div>
//      <div class='mui-radio' data-name='dss-mcosqko1'>
//          <input id='dss-vyaga1l0' value='left' checked>
//          <label>
//              <span class='icon'></span>
//              <span class='text'>Left</span>
//          </label>
//          <input id='dss-x4ucsvtd' value='right'>
//          <label>
//              <span class='icon'></span>
//              <span class='text'>Right</span>
//          </label>
//      </div>
//  </div>


.@{muilessium-prefix}radio {
    user-select: none;
    margin-top: .5rem;
    
    > input[type=radio] {
        display: none;
    }
    
    > label {
        display: inline-block;
        
        &:hover,
        &:focus {
            cursor: pointer;
            
            > .icon {
                border-color: @radio-dot-color;
                
                &::after {
                    background: @radio-dot-color;
                }
            }
        }
    }
    
    > label > .icon {
        display: inline-block;
        position: relative;
        vertical-align: middle;        
        height: @default-ui-height;
        width: @default-ui-height;
        border: 1px solid @radio-border-color;
        border-radius: 50%;
        transition: border-color @default-animation-duration @default-animation-function;
        
        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            height: 0;
            width: 0;
            background: @radio-dot-color;
            border-radius: 50%;
            opacity: 0;
            transition: all @default-animation-duration @default-animation-function;
        }
    }
    
    > input[type=radio]:checked + label > .icon {
        &::after {
            opacity: 1;
            height: @default-ui-height * .4;
            width: @default-ui-height * .4;
        }
    }
    
    > label > .text {
        padding: 0 1rem;
    }
}

