// @name        SVG icon
// @description ...
//
// @requires     svg-sprite
//
// @markup
//      <svg class='mui-svg-icon'>
//          <use xlink:href='#mui-svg-icon--check'></use>
//      </svg>


.@{muilessium-prefix}svg-icon {
    display: inline-block;
    height: 1em;
    max-height: 1em;
    max-width: 1em;
    transform: translateY(-10%);
    vertical-align: middle;
    transition: all @default-animation-duration @default-animation-function;
}

