// -----------------------------------------------------------------------------
// Fonts
// -----------------------------------------------------------------------------

html {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

    // Font size formula (for default values):
    // size = ( 14px + (20 - 14) * ((100vw - 400px) / ( 1200 - 400)))
    font-size: ~'calc(' @font-size[min-px] ~' + (' @font-size[max] ~' - ' @font-size[min] ~') * ((100vw - ' @grid[breakpoint-small-px] ~') / (' @grid[breakpoint-large] ~' - ' @grid[breakpoint-small] ~')))';

    @media screen and (max-width: @grid[breakpoint-small-px]) {
        font-size: @font-size[min-px];
    }

    @media screen and (min-width: @grid[breakpoint-large-px]) {
        font-size: @font-size[max-px];
    }

    line-height: 1.50;
}

h1, .h1 {
    ._bigger-5;
}

h2, .h2 {
    ._bigger-4;
}

h3, .h3 {
    ._bigger-3;
}

h4, .h4 {
    ._bigger-2;
}

h5, .h5 {
    ._bigger-1;
}

h6, .h6 {
    ._bigger-0;
}
